{% extends 'base.html' %}

{% block titulo %}
Perfil de {{ usuario.username }}
{% endblock %}

{% block content %}
<h2>Perfil de {{ usuario.username }}</h2>

<p>Nombre de Usuario: {{ usuario.username }}</p>
<p>Correo Electrónico: {{ usuario.email }}</p>

{% if usuario.avatar %}
    <img src="{{ usuario.avatar.url }}" alt="Avatar de {{ usuario.username }}" width="150" height="150">
{% else %}
    <p>No has subido un avatar aún.</p>
{% endif %}

<a href="{% url 'editar_perfil' %}">Editar Perfil</a>
{% endblock %}
