{% extends 'base.html' %}

{% block titulo %}
Perfil de {{ usuario.username }}
{% endblock %}

{% block content %}
<div class="perfil">
    {% if usuario.avatar %}
    <img src="{{ usuario.avatar.url }}" alt="Avatar de {{ usuario.username }}" width="150" height="150">
    {% else %}
        <p>No has subido un avatar aún.</p>
    {% endif %}
    <div class="head">
        <h2>{{ usuario.username }}</h2>
        <p>Correo Electrónico: {{ usuario.email }}</p>
        <a href="{% url 'editar_perfil' %}" class="btn btn-outline-primary">Editar Perfil</a>
    </div>
</div>

{% endblock %}
