{% extends 'base.html' %}

{% block title %}Perfil de {{ user.username }}{% endblock %}

{% block content %}
    <h2>Perfil de {{ user.username }}</h2>
    <img src="{{ user.profile_picture.url }}" alt="Imagen de perfil">
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Descripción:</strong> {{ user.description }}</p>

    <h3>Editar Perfil</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Actualizar</button>
    </form>
{% endblock %}
