{% extends 'base.html' %}

{% block titulo %}
Lista de Productos
{% endblock %}

{% block content %}
<div class="productos">
    <div class="titulo">
        <h2>Nuestros productos</h2>
        {% if request.user.is_superuser %}
        <button type="button" class="btn btn-outline-secondary"><a href="{% url 'agregar_producto' %}">Agregar Nuevo Producto</a></button>        
        {% endif %}
    </div>

    <ul class="lista">
        {% for producto in productos %}
            <li class="tarjeta">
                <div>
                    <h3>{{ producto.nombre }}</h3>
                    <p>Precio: ${{ producto.precio }}</p>   
                </div>
                <div class="info">
   
                    {% if producto.imagen %}
                        <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" style="max-width: 100px;">
                    {% endif %}
                </div>
                <div class="botones">
                    {% if request.user.is_superuser %}
                    <button type="button" class="btn btn-outline-info"><a href="{% url 'editar_producto' producto.id %}">Editar</a></button>
                    <button type="button" class="btn btn-outline-info"><a href="{% url 'eliminar_producto' producto.id %}">Eliminar</a></button>
                    {% endif %}
                    <button type="button" class="btn btn-outline-primary"><a href="{% url 'detalle_producto' producto.id %}">Ver Detalles</a></button>
                    <button type="button" class="btn btn-primary"><a href="{% url 'agregar_al_carrito' producto.id %}">Agregar al Carrito</a></button>             
                </div>

            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
