{% extends "base.html" %} 

{% block content %}
    <h1>Lista de Mensajes</h1>
    <a href="{% url 'message_create' %}">Crear nuevo mensaje</a>
    <ul>
        {% for message in messages %}
            <li>
                <strong>{{ message.emisor }}</strong><br>
                Para: {{ message.receptor }}<br>
                {{ message.body }}<br>
                <em>Creado el {{ message.enviado_el }}</em><br>
                <a href="{% url 'message_delete' message.pk %}">Eliminar</a>  
            </li>
        {% empty %}
            <li>No hay mensajes.</li>
        {% endfor %}
    </ul>
{% endblock %}
